@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {  
  background-color: seashell;
}

section {
  background-color: seashell;
  text-align: center;
  border-radius: 2rem;
  margin: 0 auto;
  margin-block-start: 1rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
label,
input,
button,
li {
  font-family: Rubik;
}

h1 {
  font-size: 3rem;
}

label,
input,
button,
li {
  font-size: 1.5rem;
}

input,
label,
button {
  margin: 0.5rem;
}

button {
  display: flex;
  width: fit-content;
}

ul {
  text-align: left;
  align-self: flex-start;
}

@media (min-width: 400px) {

  section {
    border: 1rem solid tomato;
    width: 20rem;
    margin: 2rem auto;
  }

  h1 {
    font-size: 2rem;
  }

  label,
  input,
  button,
  li {
    font-size: 1rem;
  }

}
