@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {  
  background-color: seashell;
}

section {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
label,
input,
button,
li {
  font-family: Rubik;
}

h1 {
  color: tomato;
  font-size: 3rem;
}

label,
input,
button,
li {
  font-size: 1.5rem;
}

input,
label,
button {
  margin: 0.5rem;
}

button {
  display: flex;
}

.clear {
  margin: 0 auto;
}

ul {
  text-align: left;
  align-self: flex-start;
}

@media (min-width: 600px) {

  .wrapper {
    width: 20rem;
    border: 1rem solid tomato;
    border-radius: 2rem;
    margin: 2rem auto;
    padding: 2rem;
  }

  h1 {
    color: black;
    font-size: 3rem;
  }

  label,
  input,
  button,
  li {
    font-size: 1.2rem;
  }

}
